<h3>Cardápio</h3>
<form [formGroup]="form" (ngSubmit)="add()">
  <input type="text" formControlName="nome" placeholder="Produto" />
  <input type="number" formControlName="preco" />
  <button type="submit" [disabled]="form.invalid">Incluir</button>
</form>
<table>
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Preco</th>
  </tr>
  <tr *ngFor="let item of cardapio">
    <td>{{ item.id }}</td>
    <td>{{ item.nome }}</td>
    <td>{{ item.preco }}</td>
    <td><button (click)="delete(item)">Excluir</button></td>
  </tr>
</table>
